body {
    margin: 0%;
    background-color: #e5fcdc;
}
.card-image{
    width: 50vw;
    height: 100vh;

}
.card-body {

    position: fixed;
    height: 20%;
    width: 50%;
    top: 40%;
    right: 50.53%;
    background-color: black;
    opacity: 0.6;
}

.card-heading {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 6ch;
    padding-top: 4%;
    color: #fff3f3;
    padding-left: 15%;
    
}

.logo{
    position: fixed;
    height: 20%;
    width: 10%;
    top: 40%;
    right: 85%;
 
}
.card-image {
    display: flex;
  
 
}
.header {
    position: absolute;
    top: 4%;
    right: 0%;
    height: 35%;
    width: 50%;
  
}
.headname {
    font-family: cursive;
    font-weight: bolder;
    font-size: 180%;
    padding-left: 5%;
    color: #4b704e;

}
.title {
    font-family: cursive;
    font-weight: bolder;
    font-size: 150%;
    padding-left: 5%;
}
.form-detail {
    position: absolute;
    top: 40%;
    right: 0%;
    height: 35%;
    width: 50%;
    background-color: #a1c295;
    -webkit-box-shadow: 0px 5px 15px 5px #000000; 
    box-shadow: 0px 5px 15px 5px #000000;
    
}

.info1 {
    padding-top: 5%;
    padding-left: 2%;
    display: flex;
    flex: 1;
    gap: 50px;
    font-weight: bolder;
    
}

.info2 {
    padding-top: 5%;
    padding-left: 2%;
    display: flex;
    flex: 1;
    gap: 50px;
    font-weight: bolder;
}
.info3 {
    padding-top: 5%;
    padding-left: 2%;
    display: flex;
    flex: 1;
    gap: 50px;
    font-weight: bolder;
}
.btn {
    position: absolute;
    top: 80%;
    right: 0%;
    height: 35%;
    width: 50%;
}
.button {
    margin-left: 10%;
    padding: 15px;
    background-color: #5a774f;
    border-radius: 13px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 2px 1px 12px 3px rgba(0,0,0,0.54); 
box-shadow: 2px 1px 12px 3px rgba(0,0,0,0.54);
}
.button:hover{
    background-color: #74a064;
}

.AlreadyLogin{
    margin-left: 10%;
    font-family: cursive;
    font-size: medium;
    font-weight: bolder;
}

.Login {
    margin-top: 2.9%;
    padding-left: 1%;
    color: #628f66;
    font-weight: bolder;
}


.content_login{
    display: flex;
    flex: 1;
}
input:invalid {
    border-color: red;
}
  
input:valid {
    border-color: green;
}
